.footer
  .col
    =image_tag "logo.png", :class => "imgmedi"
  .contain
    .col
      %h4 Sociétés
      %ul
        %li - Qui sommes-nous?
        %li - Partenaires
    .col
      %h4 Solutions
      %ul
        %li - Authentification digital
        %li - Sériation et trançabilité
        %li - D- Check box
    .col
      %h4 Application mobile
      %ul
        %li Utilisation

    .col
      %h4 Marchés
      %ul
        %li - Protection des marques
        %li - Gouvernement
    .col
      %h4 Équipes
      %ul
        %li - Team
        %li - Advisor
    .col
      %h4 Contactez-nous
      %ul
        %p.colorin 
          XX, rue de Axxxxxxxx
          750xx Paris - France
          06 XX XX XX XX

    .clearfix
