 <head>
 <div class="header">
     <!-- Logo -->   
     <a class="logo" href="/" title="Home">
     <img alt src="/assets/navbar/logo.png" width="20%">
     </a>
      
     <!-- Navbar -->
       <nav class="pages">
       <a class="p-2 text-white text-right" href="#">Sociétés</a>
       <a class="p-2 text-white" href="#">Solutions</a>
       <a class="p-2 text-white" href="#">Application Mobile</a>
       <a class="p-2 text-white" href="#">Marchés</a>
       <a class="p-2 text-white" href="#">Équipe</a>
       </nav class="pages">

 </div class="header">
</head>