<div class="row center-xs confiance4">
  <div class="col-xs-12 col-md-12">
    <div class="box">
      <ul class="flex-container col-xs-12 col-md-12 mastop">
        <li class="flex-container col-xs-12 col-md-6 supstop">
          <p class="authenticite">
            VÉRIFIEZ L'AUTHENTICITÉ DE VOTRE MÉDICAMENT<br>
            <br>
            L'application PHARMA CHECK permet au consommateur de vérifier instantanément l'authenticité de la boîte de
            médicament qu'il achète.
            Icarus s'appuie sur les toutes dernières technologies de Machine Learning pour améliorer la détection des
            cas de contrefaçons.
          </p>
        </li>
        <li class="flex-container col-xs-12 col-md-6">
          <%= image_tag "applicationmobile.jpg", :class => "img_mobile"%>
        </li>
      </ul>
    </div>
  </div>
</div>