<div class="row_1_1">

    <div class="col_1_1">
    <p>
    VÉRIFIEZ L'AUTHENTICITÉ DE VOTRE MÉDICAMENT<br>
    <br>
    L'application Icarus permet au consommateur de vérifier instantanément l'authenticité de la boîte de médicament qu'il achète.
    Icarus s'appuie sur les toutes dernières technologies de Machine Learning pour améliorer la détection des cas de contrefaçons.
    </p>
    </div class="col_1_1">

    <img class="img_mobile" alt src="/assets/application_mobile/applicationmobile.jpg" width="50%">

    
</div class="row_1_1">

