.top-space
  .row.center-xs(style="max-width: 980px;")
    =grid xs:12, md:12 do 
      %h2 <br> Team
      %ul.flex-container
        %ul.col-xs-6.col-md-4
          %li
            =image_tag "bayendiaye.png", :class => "imgcircle zoom"
          %li
            %h3 Baye NDIAYE
          %li
            %p.menostop Business Analyst
        
        %ul.col-xs-6.col-md-4
          %li
            =image_tag "yanwolff.png", :class => "imgcircle zoom"
          %li
            %h3 Yan WOLFF
          %li
            %p.menostop
              Ingénieur Deep learning <br />
              CTO & Co-founder
        
        %ul.col-xs-6.col-md-4
          %li
            =image_tag "dayanmazu.png", :class => "imgcircle zoom"
          %li
            %h3 Dayan Mazu
          %li
            %p.menostop CEO Co-founder
        
        %ul.col-xs-6.col-md-4
          %li
            =image_tag "edouarddosantos.png", :class => "imgcircle zoom"
          %li
            %h3 Edouard DO SANTOS
          %li
            %p.menostop Ingénieur Logistique

.top-space
  .row.center-xs
    =grid xs:5, md:10 do 
      %h2 Advisor
      %ul.flex-container 
        %ul
          %li
            =image_tag "aouele.jpg", :class => "imgcircle zoom"
          %li
            %h3 Aouélé EUGÈNE AKA (DR) 
          %li
            %p.menostop Ministre de la Santé <br />et de l’Hygiène Publique
        %ul
          %li
            =image_tag "christophe.jpg", :class => "imgcircle zoom"
          %li
            %h3 Christophe ROCHIGNEUX
          %li
            %p.menostop
              Expert Technique International <br />
              Pharmacien chez Expertise France 
            %i.fab.fa-linkedin.colorin.icon-big
            
        %ul
          %li
            =image_tag "gilles.jpg", :class => "imgcircle zoom"
          %li
            %h3 Gilles MARTIN
          %li
            %p.menostop Transformation Mentor :Transformation, <br />Innovation, Lateral Thinking - Business <br />angel and entrepreneur
        %ul
          %li
            =image_tag "marc.jpg", :class => "imgcircle zoom"
          %li
            %h3 Marc GENTILINI
          %li
            %p.menostop Président Croix ROUGE  française 
        %ul
          %li
            =image_tag "regis.png", :class => "imgcircle zoom"
          %li
            %h3 Régis MESSALI
          %li
            %p.menostop Directeur de la Communication <br />et du Développement chez <br />UNIFAB - Union des Fabricants
        %ul
          %li
            =image_tag "quentin.png", :class => "imgcircle zoom"
          %li
            %h3 Quentin DUTEIL
          %li
            %p.menostop Pharmacien <br />Chargé de mission Fondation Chirac
        %ul
          %li
            =image_tag "wilfrid.jpg", :class => "imgcircle zoom"
          %li
            %h3 Wilfrid ROGÉ
          %li
            %p.menostop Responsable Anti-Falsification<br /> Département des Marques <br />et de la Lutte contre <br />la Falsification SERVIER
        %ul
          %li
            =image_tag "jeanmarc.jpg", :class => "imgcircle zoom"
          %li
            %h3 Jean-Marc BOBÉE
          %li
            %p.menostop Doctor of Pharmacy ; Director,<br />  Anticounterfeiting Strategy at Sanofi,<br />  Industrial Affairs

.top-space
  .row.center-xs
    =grid xs:7, md:5 do 
      %h2 Contact
      %ul.flex-container 
        %ul
          %li
            <i class="fas fa-phone icon-big"></i>
        %ul
          %li
            <i class="fas fa-envelope icon-big"></i>
        %ul
          %li
            <i class="fas fa-network-wired icon-big"></i>
            