.top-space
  .row.center-xs
    =grid xs:8, md:10 do 
      %h2 Team
      .containerr
        .containerreverse
          .col-md-3
            =image_tag "bayendiaye.png", :class => "imgcircle zoom"
          %h3
            Baye NDIAYE
          %p
            Business Analyst
        .containerreverse
          .col-md-3
            =image_tag "yanwolff.png", :class => "imgcircle zoom"
          %h3
            Yan WOLFF
          %p
            Ingénieur Deep learning <br />
            CTO & Co-founder
        .containerreverse
          .col-md-3
            =image_tag "dayanmazu.png", :class => "imgcircle zoom"
          %h3
            Dayan Mazu
          %p
            CEO Co-founder

        .containerreverse
          .col-md-3
            =image_tag "edouarddosantos.png", :class => "imgcircle zoom"
          %h3
            Edouard DO SANTOS
          %p
            Ingénieur Logistique
