<!-- Carousel-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">


  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    <li data-target="#myCarousel" data-slide-to="3" class=""></li>
  </ol>



  <div class="carousel-inner">

    <div class="carousel-item active">
      <%= image_tag "photo_d'accueil1.png", :class => "img_carousel" %>
      <div class="container">
        <div class="carousel-caption text-left">
        </div class="carousel-caption text-left">
      </div class="container">
    </div class="carousel-item">

    <div class="carousel-item">
      <%= image_tag "photo_accueil2.png", :class => "img_carousel" %>
      <div class="container">
        <div class="carousel-caption">
        </div class="carousel-caption">
      </div class="container">
    </div class="carousel-item active">

    <div class="carousel-item">
      <%= image_tag "photo_accueil3.png", :class => "img_carousel" %>
      <div class="container">
        <div class="carousel-caption text-right">
        </div class="carousel-caption text-right">
      </div class="container">
    </div class="carousel-item">

    <div class="carousel-item">
      <%= image_tag "photo_accueil4.png", :class => "img_carousel" %>
      <div class="container">
        <div class="carousel-caption text-right">
        </div class="carousel-caption text-right">
      </div class="container">
    </div class="carousel-item">



    <!-- button left and right carousel -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Précédent</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Suivant</span>
    </a>

  </div class="carousel-inner">
</div id="myCarousel" class="carousel slide" data-ride="carousel">




<div class="supertop">
  <div class="container">
    <h1 class="text-center">TRAÇABILITE PAR SATELLITE</h1>

    <div class="row">
      <div class="col-sm">
        <div class="workflow-item active">
          <h5>
            Industrie Pharmaceutique
          </h5>
          <div class="workflow-icon right-arrow">
            <i class="far fa-2x fa-building"></i>
          </div>
          <p class="text-muted ">Le fabricant envoie les médicamets au grossiste</p>
        </div>
      </div>

      <div class="col-sm">
        <div class="workflow-item">
          <h5>
            Grossiste Pharmatrust
          </h5>
          <div class="workflow-icon right-arrow">
            <i class="fas fa-2x fa-boxes"></i>
          </div>
          <p class="text-muted">Le grossiste envois les médicaments au pharmacien</p>
        </div>
      </div>

      <div class="col-sm">
        <div class="workflow-item">
          <h5>
            Pharmatien Pharmatrust
          </h5>
          <div class="workflow-icon right-arrow">
            <i class="fas fa-2x fa-user-md"></i>
          </div>
          <p class="text-muted">Le pharmacien livre le médicament au client</p>
        </div>
      </div>

      <div class="col-sm">
        <div class="workflow-item">
          <h5>
            Consomateur <br> Final
          </h5>
          <div class="workflow-icon">
            <i class="fa fa-2x fa-user"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="column_bottom">
          ICARUS ASTROTRUST traite des problématiques de santé publique, de la protection des consommateurs et de la
          propriété industrielle.<br>
          <br><br>
          Nous avons à coeur de proposer un label international "Made in France" qui représente un gage de qualité et
          de sécurité pour les produits tracés par le système ICARUS.<br>
          <br><br>
          C'est pourquoi notre objectif principal est d’apporter, une réponse efficace et moins coûteuse aux différents
          acteurs du système de santé à l'échelle nationale, mais aussi international.<br>
          <br><br>
          Nous avons ainsi développé un système de traçabilité et d'authentification par satellites en collaboration
          avec le Centre national d'études spatial. Notre système est accessible à tout laboratoires pharmaceutiques,
          aux enseigne de production et industrielles.<br>
          <br><br>
          Nous avons ainsi crée un outil destiné aux agents de contrôle douanier qui s'appelle D-check box un système
          de convoyeur intelligent qui combine plusieurs axes d’actions :<br>
          <br><br>
          - La vérification des informations liées à la production d'un lots de et une vérification par rapport à la
          base de données des autorisations de mise sur le marché du territoire.<br>
          <br><br>
          - Une validation des informations de traçabilités <br>
          <br>
          - Un acquittement témoignant de la reception du lots par le signataire
          Icarus Astrotrust porte ainsi la conviction d'un label international de qualité efficace et responsable.
        </div>
      </div>
    </div>
  </div>
</div>







<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
</head>