<div class="row_medicament">
  <div class="row_medicament1">
    <%= image_tag "medicament.jpg", :class => "medicament"%>

  </div class="row_medicament1">

  <div class="row_medicament2">
    <h5 class="h5eric"> 1 MILLIONS DE DÉCÈS PAR AN DUS AUX FAUX MÉDICAMENTS </h5><br>
    <p>
      La contrefaçon de médicaments est un enjeu majeur de santé publique, notamment dans les pays émergents :
    </p>
  </div class="row_medicamet2">




  <div class="row_medicament3">
    <div class="col_medicament1">
      <h6 class="h6eric"> 1/10 </h6 class="h6eric">
      <p class="medic_text">
        Un médicament sur dix dans le monde
        est une contrefaçon
      </p class="medic_text">
    </div class="col_medicament1">

    <div class="col_medicament2">
      <h6 class="h6eric"> 70% </h6 class="h6eric">
      <p class="medic_text">
        Les pays émergents sont aujourd’hui les plus touchés :
        en Afrique, 70% des médicaments sont faux.
      </p class="medic_text">
    </div class="col_medicament2">

    <div class="col_medicament3">
      <h6 class="h6eric"> 50% </h6 class="h6eric">
      <p class="medic_text">
        Sur internet, 50% des médicaments
        sont des contrefaçons.
      </p class="medic_text">
    </div class="col_medicament3">

  </div class="row_medicament3">




  <div class="row_medicament4">
    Pour lutter contre les faux médicaments, plusieurs pays ou régions mettent en œuvre des obligations de
    sérialisation des médicaments avec l’apposition d’un code visible sur les boites de médicaments.

    Si la sérialisation représente un premier pas dans la lutte contre la fraude, elle n’offre pas toutes les garanties
    nécessaires pour assurer à un patient que son médicament n’a pas été contrefait. Le code de sérialisation n’est pas
    toujours lisible par le patient. Il peut être copié.
  </div class="row_medicament4">

</div class="row_medicament">




<div class="row_perfum">
  <div class="row_perfum1">
    <%= image_tag "perfum.jpg", :class => "perfume"%>
  </div class="row_perfum1">

  <div class="row_perfum2">
    <h5 class="h5eric"> UN DES SECTEURS LES PLUS TOUCHÉS PAR LE COMMERCE ILLICITE</h5><br>
    <p>
      Les produits cosmétiques et parfums représente l’un des secteurs les plus touchés pour la contrefaçon et les
      marchés parallèles. Pour illustration :
    </p>
  </div class="row_perfum2">




  <div class="row_perfum3">
    <div class="col_perfum1">
      <h6 class="h6eric"> 10% </h6 class="h6eric">
      <p>
        Des contrefaçons saisies
        dans le monde
        sont des produits cosmétiques.
      </p>
    </div class="col_perfum1">

    <div class="col_perfum2">
      <h6 class="h6eric"> 8 à 15 % </h6 class="h6eric">
      <p>
        Des produits pour certaines
        grandes marques se retrouvent
        sur des marchés parallèles.
      </p>
    </div class="col_perfum2">



  </div class="row_perfum3">




  <div class="row_perfum4">

    Les produits contrefaits et divertis constituent un manque à gagner direct pour les marques.

    La commercialisation de produits contrefaits de mauvaise qualité peut aussi porter atteinte à un des actifs majeurs
    des acteurs de la parfumerie – cosmétique : leur image de marque et la fidélité de leurs consommateurs.

    Enfin, l’usage de produits contrefaits peut présenter un risque sanitaire pour les consommateurs.
  </div class="row_perfum4">

</div class="row_perfum">