<h3 class="h3eric"> Nos solutioins </h3>

<div class="container_solutions">

    <div class="row_1">
    <%= image_tag "phone.png", :class => "img_phone taillesolutions mastop" %>
    <p id:"authentificationlink">AUTHENTIFICATION DIGITALE
    Solution mobile anti-contrefaçon
    PHARMA CHECK™
    Solution mobile anti-contrefaçon, utilisant un algorithme de tracabilité par satellite. 
    Aucun lecteur spécifique nécessaire. 
    Développée pour un usage généralisé : marques, douanes et consommateurs.
    </p>
    </div class="row_1">

    <div class="row_2">
    <%= image_tag "qr_code.png", :class => "img_qr_code taillesolutions mastop" %>
    <p id:"serialisationlink"> SÉRIALISATION ET TRAÇABILITÉ
    PHARMA TRUST™
    La solution pour la génération de code unitaire, la sérialisation et la traçabilité.
    Adaptée pour les faibles et forts volumes.
    </p>
    </div class="row_2">

    <div class="row_3">
    <%= image_tag "box.png", :class => "img_box taillesolutions55 mastop" %>
    <p id:"dechecklink" class="mastopbott">Ce système est un convoyeur intelligent conçu pour les agents de contrôle douanière. 
    Doté d'un réseaux de caméra intelligent la machine est capable grace à un intelligence artificiel de detecter un produits contrefaits.
    </p>
    </div class="row_3">



</div class="container_solutions">