.carousel-inner{
    position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

.img_carousel{
    width: 100%;
}


.column_left{
  
  width: 50%;
  margin-top: 5%;
  margin-right:5px;
  margin-bottom:5em;
  margin-left:10%;
}

.column_right{
    
    width: 50%;
    margin-top: 5%;
    margin-right:10%;
    margin-bottom:5em;
    margin-left:0;
   
}

#container {
  display: flex; 
  justify-content: center
  }
