<!-- Header  -->
.d-flex {
    width: 100%;
}

<!-- Navbar  -->
.my-2{
    position: absolute;
    left: 70%;
    top: 8%;
    width: 100%;
    }


.carousel-inner{
    position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

.img_carousel{
    width: 100%;
}

.row_first{
    background-color: rgb(169, 169, 197);
    height: 600px;
}


.column_left{
    width: 50%;
    
}
