.row_1_1 {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 600px;
    
}

.col_1_1{
    width: 50%;
    margin-top: 150px;
    margin-right:10%;
    margin-bottom:150px;
    margin-left:10%;
    

    
}

.img_mobile{
    width: auto;
    height: 70%;
    margin-top: 5%;
    margin-right:10%;
    margin-bottom:5em;
    margin-left:0;

}

