.imgcircle {
  border-radius: 50%;
  width:300px;
  height:300px;
  padding:20px;
}

.zoom {
  transition: transform .1s;
  /* Animation */
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.containerr {
  display: flex;
  justify-content: center;
  /* or inline-flex */
}

.containerreverse {
  flex-direction: column ;
}