.row_21{
border: 2px solid red;
margin-bottom: 30px;
}

.row_22{
border: 2px solid blue;
display: flex;
justify-content: center;



}

.col_21{
border: 2px solid orange;
margin-left: 10%;
margin-right: 5%;
background-color: white;

}

.col_22{
border: 2px solid orange;
margin-left: 5%;
margin-right: 10%;
background-color: white;




}

.data{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.medicament{
    width: 400px;
    height: 150px;

}

.perfum{
    width: 400px;
    height: 150px;
}