.row_medicament{
    background-color: white;
    padding-bottom: 50px;
    padding-top: 50px
}


.row_medicament1{
    height:30% ;
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: center;

}

.h7eric{
    display: flex;
    justify-content: center;
}

.medicament{
    height: 10%;
    width: 60%; 
}

.row_medicament2{
    margin-left: 15%;
    margin-right: 15%;
    
    
}

.h5eric{
    margin-left: 15%;
    margin-top: 20px;
    

}

.row_medicament3{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.h6eric{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgba(185, 136, 70, 0.9);
}

.col_medicament1{
    margin-left: 15%;
    color: rgba(185, 136, 70, 0.9);
    
    
}

.col_medicament2{
    margin-left: 5%;
    margin-right: 5%;
    color: rgba(185, 136, 70, 0.9);
    

}

.col_medicament3{
    margin-right: 15%;
    color: rgba(185, 136, 70, 0.9);
   
}


.row_medicament4{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    
}

.perfume{
    height:200px;
    width:60%;
}


.row_perfum{
    background-color: white;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 50px
}


.row_perfum1{
    height:30% ;
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    
}

.h7eric{
    display: flex;
    justify-content: center;
}

.perfum{
    height:200px;
    width: 100%; 
}

.row_perfum2{
    margin-left: 15%;
    margin-right: 15%;
}

.h5eric{
    margin-left: 15%;
    margin-top: 20px;
}


.h6eric{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgba(185, 136, 70, 0.9);
}

.col_perfum1{
    margin-left: 15%;
    color: rgba(185, 136, 70, 0.9);
}

.col_perfum2{
    margin-left: 5%;
    margin-right: 5%;
    color: rgba(185, 136, 70, 0.9);    
}

.row_perfum3{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}



.row_perfum4{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
}

.perfum{
    height:10% ;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}