.h3eric{
display: flex;
justify-content: center;
margin-top: 20px;
margin-bottom: 20px; 
}

.row_1{
margin-left: 20%;
margin-right:20%;
}

.row_2{
margin-left: 20%;
margin-right:20%;

}

.row_3{
margin-left: 20%;
margin-right:20%;
}

.taillesolutions{
  width: 60px;
  height: 60px;
}

.taillesolutions55 {
  width: 55px;
  height: 55px;
}
